*{
    padding: 0;
    margin: 0;
    background-color: rgb(204, 200, 170);
    color: rgb(25, 23, 23);
}

#chand{
    transform: rotateY(180deg)
}

.nav{
    padding-top: 18px;
}

.nav-link{
    text-decoration: none;
}

p{
    font-size: 18px;
}

.row{
    padding-top: 65px;
}

.buttons{
    padding: 7%;
}

.buttons .btn{
    border-radius: 13px;
}

.instructiontext{
    padding: 25px;
}